<section>
    <mat-card class="address">
        <button mat-icon-button [matMenuTriggerFor]="addressmenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressmenu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="editUserDetail()">Edit</button>
        </mat-menu>

        <mat-card-header>
            <mat-card-title>Your Account Data</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <b>E-Mail: </b>{{ this.updateService.auth.currentUser?.email }}
            <br>
            <b>Name: </b>
            @if (this.updateService.currentUserData.firstName != '' ||
            this.updateService.currentUserData.lastName != '') {
                {{ this.updateService.currentUserData.firstName }}
                {{ this.updateService.currentUserData.lastName }}
            }   @else {
                <i>No Name was added yet</i>
            }

        </mat-card-content>
    </mat-card>
</section>