@if(updateService.loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <h2 mat-dialog-title>Edit Address</h2>
    <mat-dialog-content class="mat-dialog-content gap-8">   
    <div class="mat-dialog-row">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No</mat-label>
            <input [(ngModel)]="user.street" matInput placeholder="Main Street 123">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
    </div>
    
    <div class="mat-dialog-row">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Zip code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput placeholder="12312">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
    </div>
    
    <div class="mat-dialog-row">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput placeholder="Sampletown">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
    </div>
    
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="save()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>