.single-note {
    background-color: #eef8ff;

    >.note-header {
        display: flex;
        align-items: center;
        gap: 4px;

        >.note-header-icon {
            height: 18px;
            width: 18px;
            font-size: 18px;
        }
    }
}