<section class="login">
    <mat-card>
        <mat-card-content class="login-container">
            <div class="login-logo">
                <img src="./assets/img/crm-logo-sidebar.png" alt="">
            </div>
            <div class="login-inputs">
                <div class="mat-dialog-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-Mail</mat-label>
                        <input matInput placeholder="example@example.com">
                        <!-- <mat-hint>Please enter a name</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="mat-dialog-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="">
                        <!-- <mat-hint>Please enter a name</mat-hint> -->
                    </mat-form-field>
                </div>
                <mat-checkbox class="login-remember-me">Remember me</mat-checkbox>
                <div class="login-buttons">
                    <button mat-raised-button color="primary">Log in</button>
                    <button mat-raised-button>Log in with <img src="./assets/img/google-g-logo.svg" alt=""></button>
                    <button mat-button color="accent">I forgot my password</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>