<section>
    <mat-card class="user-detail-header">
        <button mat-icon-button [matMenuTriggerFor]="detailmenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #detailmenu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="editCustomerDetail()"><mat-icon>edit</mat-icon>Edit Customer</button>
        </mat-menu>
        <mat-card-content>
            <img src="./assets/img/avatar.png" alt="">
            <div class="user-detail-header-details">
                <h2>
                    {{ this.updateService.currentCustomer.firstName }}
                    {{ this.updateService.currentCustomer.lastName }}
                </h2>
                <span>
                    <mat-icon>contact_mail</mat-icon>
                    {{ this.updateService.currentCustomer.email }}
                </span>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="address">
        <button mat-icon-button [matMenuTriggerFor]="addressmenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressmenu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="editCustomerAddress()"><mat-icon>import_contacts</mat-icon>Edit Address</button>
        </mat-menu>

        <mat-card-header>
            <mat-card-title>Address</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            {{ this.updateService.currentCustomer.street }} <br>
            {{ this.updateService.currentCustomer.zipCode }} {{ this.updateService.currentCustomer.city }}
        </mat-card-content>
    </mat-card>
</section>