* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* width */
*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #f4f4f4;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-8 {
    gap: 8px;
}