* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-8 {
    gap: 8px;
}