<section class="login">
    <mat-card>
        <mat-card-content class="login-container">
            <div class="login-logo">
                <img src="./assets/img/crm-logo-sidebar.png" alt="">
                <h2>Register new account</h2>
            </div>
            <form (ngSubmit)="registerUser()" #registerForm="ngForm" class="login-inputs">
                <div class="mat-dialog-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-Mail</mat-label>
                        <input #email="ngModel" [(ngModel)]="user.email" matInput type="email" name="email"
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            placeholder="example@example.com">
                        <!-- <mat-hint>Please enter a name</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="mat-dialog-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input #password="ngModel" [(ngModel)]="user.password" matInput minlength="8" type="password"
                            name="password" placeholder="">
                        <!-- <mat-hint>Please enter a name</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="mat-dialog-row">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Repeat Password</mat-label>
                        <input #passwordConfirm="ngModel" [(ngModel)]="user.passwordConfirm" matInput minlength="8"
                            type="password" name="passwordConfirm" placeholder="">
                        @if ((user.password != user.passwordConfirm) && passwordConfirm.touched) {
                        <mat-hint class="hint-error">The passwords entered do not match!</mat-hint>
                        } @else if (user.password.length < 8 && password.touched && passwordConfirm.touched &&
                            user.password.length > 0 && user.passwordConfirm.length > 0) {
                            <mat-hint class="hint-error">Please choose a longer password</mat-hint>
                            } @else if ((user.password == user.passwordConfirm) && passwordConfirm.touched && user.password.length >= 8) {
                            <mat-hint class="hint-valid">Entered passwords are valid :)</mat-hint>
                            } @else {
                            <mat-hint>A minimum length of 8 is required</mat-hint>
                            }
                    </mat-form-field>
                </div>
                <div class="login-buttons">
                    <button
                        [disabled]="!user.email || !(user.password == user.passwordConfirm) || !password.touched || !password.valid || !passwordConfirm.valid"
                        mat-raised-button color="primary">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>